* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1em;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  width: 100%;
}
